.wrapper {
  margin-top: 0;
  background: white;
  margin-left: auto;
  margin-right: auto;
}

.align-center {
  text-align:center;
}


.logo {
  text-align:center;
  margin:auto;
  width:50%;
}

.logo img{
	min-width: 400px;
	max-width: 845px;
}


.nav {
  margin-top:-50px;
}

.nav {
  text-align: center;
	width: 100%;
  margin-top: -15px;
}

.nav li {
	display: inline-block;
	list-style: none;
	max-width: 426px;
}

.nav img {
	width:100%;
	max-width:300px;
  padding-left: 50px;
  padding-right: 50px;
}

.pic-container{
width: 1100px;
white-space: nowrap;
overflow-x: auto;
overflow-y: hidden;
margin-left: auto;
margin-right: auto;
margin-top: 50px;
}

.pic-row {
width: 500px;
height: auto;
}

.image {
  width:400px;
}

.social {
  text-align:center
}

.nav_footer {
  text-align: center;
  width: 100%;
  margin-bottom: 0px;
  margin-top: 50px;
}

.nav_footer li {
  display:inline-block;
  list-style: none;
  max-width:566px;
}

.facebook {
	width:100%;
	max-width:64px;
  padding-left: 20px;
  padding-right: 20px;
}

.instagram {
	width:100%;
	max-width:64px;
  padding-left: 20px;
  padding-right: 20px;
}

.dog_pic {
  width:100%;
  max-width:160px;
  padding-left:20px;
}

.gif img:last-child{display:none}
.gif:hover img:first-child{display:none}
.gif:hover img:last-child{display:inline-block}


.footer {
  background-color: black;
		color:white;
		font-family: Helvetica, sans-serif;
		font-size: 13px;
		padding-top:30px;
		width:100%;
		height:40px;
		text-align: left;
}
